@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorph {
  border-radius: 50px;
  background: #e7daee;
  box-shadow: 20px 20px 60px #c4b9ca, -20px -20px 60px #fffbff;
  background: url(/img/backgrounds/polygon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
