@media (min-width: 790px) {
  .custom-width {
    width: calc(100% / 1.8);
  }
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

section {
  background-image: url("/img/backgrounds/stars.svg");
}

.text-shadow {
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
}